<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Frageliste</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{style.css}" />
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary justify-content-between">
        <div class="navbar-nav">
            <a class="navbar-brand" th:text="#{nav.titel}" />
            <a th:href="@{/kategorie}" th:text="#{nav.kategorie}" class="nav-item nav-link" />
            <a th:href="@{/frage}" th:text="#{nav.frageliste}" class="nav-item nav-link" />
            <a th:href="@{/quiz}" th:text="#{nav.quizliste}" class="nav-item nav-link" />
            <a th:href="@{?sprache=de}" class="nav-item nav-link">DE</a>
            <a th:href="@{?sprache=en}" class="nav-item nav-link">EN</a>
            <a th:href="@{?sprache=nl}" class="nav-item nav-link">NL</a>
        </div>
    </nav>

    <div class="container">
        <h1 th:text="#{frageliste.titel}" />
        <table class="table table-hover">
            <tr>
                <th class="col-1" th:text="#{frageliste.spalte.id}" />
                <th class="col-2" th:text="#{frageliste.spalte.kategorie}" />
                <th class="col-8" th:text="#{frageliste.spalte.fragetext}" />
                <th class="col-1" th:text="#{frageliste.spalte.punkte}" />
                <th class="col-2" />
                <th class="col-2" />
            </tr>
            <tr th:each="fr : ${frageliste}">
                <td th:text="${fr.id}" />
                <td th:text="${fr.kategorie}? ${fr.kategorie.name} : 'NO CATEGORY'" />
                <td th:text="${fr.fragetext}" />
                <td th:text="${fr.punkte}" />
                <td>
                    <a th:href="@{/frage/{id}(id=${fr.id})}" class="btn btn-primary"
                        th:text="#{frageliste.eintrag.bearbeiten}" />
                </td>
                <td>
                    <a th:href="@{/frage/{id}/del(id=${fr.id})}" class="btn btn-primary"
                        th:text="#{frageliste.eintrag.loeschen}" />
                </td>
            </tr>
        </table>

        <a th:href="@{/frage/0}" class="btn btn-primary" th:text="#{frageliste.neue.frage}" />
        <a th:href="@{/frage/quizdienst}" class="btn btn-primary" th:text="#{frageliste.neue.quizdienst}" />

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
</body>

</html>