<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <style>
            .error {
                color: red;
            }
            .errorInput {
                border-color: red;
            }
        </style>
<!-- to Do Aufgabe 1:
            CSS bei den Form inputs red border bugs out -->
</head>

<body>
    <div class="container-fluid">
        <br>
        <h1><span th:text="#{frageformular.titel.bearbeiten(${frageNr})}"></span></h1>
        <form th:action="@{#}" th:method="POST" th:object="${frageFormular}">
            <div class="row mb-3">
                <label for="kategorie" class="col-sm-1 col-form-label" th:text="#{frageformular.label.kategorie}"></label>
                <div class="col-sm-3">
                    <select class="form-select" name="kategorie" th:field="*{katSelected}">
                        <option th:each="kat : *{kategorien}" th:value="${kat}" th:text="${kat}" />
                    </select>
                    <p th:if="${#fields.hasErrors('katSelected')}" th:errors="*{katSelected}" class="error">sfdgsdfg</p>
                    
                </div>
            </div>
            <div class="row mb-3">
                <label for="frage" class="col-sm-1 col-form-label" th:text="#{frageformular.label.frage}"></label>
                <div class="col-sm-3">
                    <input name="frage" th:field="*{frage}" type="text" class="form-control" th:class="${#fields.hasErrors('frage')}? errorInput">
                    <p th:if="${#fields.hasErrors('frage')}" th:errors="*{frage}" class="error">sfdgsdfg</p>
                </div>
            </div>
            <div class="row mb-3">
                <label for=richtig class="col-sm-1 col-form-label" th:text="#{frageformular.label.richtigeantwort}"></label>
                <div class="col-sm-3">
                    <input name="richtig" th:field="*{richtig}" type="text" class="form-control" th:class="${#fields.hasErrors('richtig')}? errorInput">
                    <p th:if="${#fields.hasErrors('richtig')}" th:errors="*{richtig}" class="error">sfdgsdfg</p>
                </div>
            </div>
            <div class="row mb-3">
                <label for="punkte" class="col-sm-1 col-form-label" th:text="#{frageformular.label.punkte}">Punkte</label>
                <div class="col-sm-3">
                    <input name="punkte" th:field="*{punkte}" type="number" class="form-control" th:class="${#fields.hasErrors('punkte')}? errorInput">
                    <p th:if="${#fields.hasErrors('punkte')}" th:errors="*{punkte}" class="error">sfdgsdfg</p>
                </div>
            </div>

            <br>
            <h2><span th:text="#{frageformular.titel.falscheantworten(${MAXFALSCH})}"></span></h2>
            <p th:if="${#fields.hasErrors('antworten')}" th:errors="*{antworten}" class="error">sfdgsdfg</p>
            <div th:if="not ${#lists.isEmpty(frageFormular.antworten)}">
                <div class="row mb-3" th:each="antwort, status: *{antworten}">
                    <label th:text="${status.count}" class="col-sm-1 col-form-label"></label>
                    <div class="col-sm-3">
                        <input type="text" th:field="*{antworten[__${status.index}__]}" class="form-control">
                    </div>
                </div>
            </div>

            <div th:if="${#lists.size(frageFormular.antworten)} lt ${MAXFALSCH}">
                <div class="row mb-3">
                    <label for="neu" class="col-sm-1 col-form-label" th:text="#{frageformular.label.neuefalschantwort}"></label>
                    <div class="col-sm-3">
                        <input name="neu" type="text" class="form-control" th:field="*{neu}" th:class="${#fields.hasErrors('neu')}? errorInput">
                        <p th:if="${#fields.hasErrors('neu')}" th:errors="*{neu}" class="error">sfdgsdfg</p>
                    </div>
                </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>